server  {
  listen 443 ssl;
  server_name  VARIABLE.CONTOSO.COM;
  ssl on;
  ssl_certificate /etc/ssl/private/MY.crt;
  ssl_certificate_key  /etc/ssl/private/MY.key;
  root /usr/share/nginx/www;
  index index.html index.htm;
  location  / {
    proxy_buffering  off;
    proxy_pass  http://$SYSTEMIP:$PORT;  #May be localhost, check listeners
    proxy_http_version  1.1;
    proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header  Upgrade $http_upgrade;
    proxy_set_header  Connection $http_connection;
    access_log  off;
  }
}

server {
  listen 80 default_server;
  listen [::]:80 default_server;
  server_name _;
  return 301 https://$host$request_uri;
}
